*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    color: #F5F5F5;
}
.box1,
.box2,
.box3,
.box4{
    padding: 50px;
}
.box1,
.box2,
.box3{
  border-bottom: 1px solid #D5D5D5;
}
h1{
    margin-top: 0;
    color: #000000;
    font-size: 32px;

}
h2{
    color: #000000;
    font-size: 24px;

}
h3{
    color: #000000;
    font-size: 18px;

}
p{
    color: #000000;
    font-size: 16px;
    max-width: 930px;
    width: 100%;
    margin: 15px auto 30px;
}

img{
    width: 190px;
}
a{
    display: inline-block;
    background-color:#49B970 ;
    color:#F5F5F5;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover{
  background-color: #3aa45f;
  transform: translateY(-3px);
}
span{
    font-weight: bold;
}
